Repository basedosdados/queries-basedosdados, pull requests merged in 2024-09, with the labels that each got.

#755 [fix] br_cvm_fi
  models/br_cvm_fi/br_cvm_fi__documentos_balancete.sql
  models/br_cvm_fi/br_cvm_fi__documentos_carteiras_fundos_investimento.sql
  models/br_cvm_fi/br_cvm_fi__documentos_extratos_informacoes.sql
  models/br_cvm_fi/br_cvm_fi__documentos_informacao_cadastral.sql
  models/br_cvm_fi/br_cvm_fi__documentos_informe_diario.sql
  models/br_cvm_fi/br_cvm_fi__documentos_perfil_mensal.sql
  models/br_cvm_fi/schema.yml
Labels: test-dev-model

#758 [dbt]: materialize br_inep_saeb.dicionario
  models/br_inep_saeb/br_inep_saeb__dicionario.sql
Labels: table-approve, test-dev-model

#760 [fix] br_ms_sih.dicionario
  models/br_ms_sih/br_ms_sih__dicionario.sql
Labels: table-approve

#759 [fix] br_ms_sih.aihs_reduzidas
  models/br_ms_sih/br_ms_sih__aihs_reduzidas.sql
  models/br_ms_sih/schema.yml
Labels: test-dev-model

#769 [dados]br_jota.tabela eleicao_auxiliar_categoria_origem
  models/br_jota/br_jota__eleicao_auxiliar_categoria_origem.sql
  models/br_jota/schema.yaml
Labels: table-approve

#772 [fix] nomenclatura_comum_mercosul
  models/br_bd_diretorios_mundo/br_bd_diretorios_mundo__nomenclatura_comum_mercosul.sql
Labels: table-approve

#773 fix: `br_inep_saeb.aluno_ef_9ano`
  models/br_inep_saeb/br_inep_saeb__aluno_ef_9ano.sql
  models/br_inep_saeb/code/fix_microdados_aluno_ef_9ano_2021.py
  poetry.lock
  pyproject.toml
Labels: table-approve

#776 [dbt] br_cgu_cartao_pagamento
  dbt_project.yml
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__dicionario.sql
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__microdados_compras_centralizadas.sql
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__microdados_defesa_civil.sql
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__microdados_governo_federal.sql
  models/br_cgu_cartao_pagamento/schema.yml
Labels: table-approve, test-dev-model

#777 [fix] br_cgu_cartao_pagamento
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__dicionario.sql
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__microdados_compras_centralizadas.sql
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__microdados_defesa_civil.sql
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__microdados_governo_federal.sql
Labels: table-approve

#778 [fix] br_cgu_cartao_pagamento
  models/br_cgu_cartao_pagamento/br_cgu_cartao_pagamento__dicionario.sql
  models/br_cgu_cartao_pagamento/schema.yml
Labels: table-approve

#763 [update]br_tse_eleicoes - tests cnae
  models/br_tse_eleicoes/br_tse_eleicoes__despesas_candidato.sql
  models/br_tse_eleicoes/br_tse_eleicoes__receitas_candidato.sql
  models/br_tse_eleicoes/br_tse_eleicoes__receitas_comite.sql
  models/br_tse_eleicoes/br_tse_eleicoes__receitas_orgao_partidario.sql
  models/br_tse_eleicoes/schema.yml
Labels: table-approve, test-dev-model

#780 [fix] br_tse_eleicoes__candidatos - sigla_uf_nascimento
  models/br_tse_eleicoes/schema.yml
Labels: test-dev-model
