Repository basedosdados/queries-basedosdados, pull requests merged in 2025-03, with the labels that each got.

#925 [Fix]Remoção de colunas excessivas - br_inpe_queimadas__microdados
  models/br_inpe_queimadas/br_inpe_queimadas__microdados.sql
  models/br_inpe_queimadas/schema.yaml
Labels: table-approve, test-dev-model

#931 [fix] Organizar ordem das colunas - br_inpe_queimadas.microdados
  models/br_inpe_queimadas/br_inpe_queimadas__microdados.sql
  models/br_inpe_queimadas/schema.yaml
Labels: table-approve, test-dev-model

#944 [bug] br_cgu_servidores_executivo_federal.remuneracao
  models/br_cgu_servidores_executivo_federal/br_cgu_servidores_executivo_federal__remuneracao.sql
Labels: test-dev-model

#948 [BugFix] br_me_caged
  models/br_me_caged/br_me_caged__microdados_movimentacao.sql
  models/br_me_caged/br_me_caged__microdados_movimentacao_excluida.sql
  models/br_me_caged/br_me_caged__microdados_movimentacao_fora_prazo.sql
Labels: table-approve
