Repository basedosdados/queries-basedosdados, pull requests merged in 2025-01, with the labels that each got.

#860 [FixBug] br_stf_corte_aberta
  models/br_stf_corte_aberta/br_stf_corte_aberta__decisoes.sql
Labels: test-dev-model

#868 [BugFix] br_stf_corte_aberta
  models/br_stf_corte_aberta/br_stf_corte_aberta__decisoes.sql
Labels: table-approve, test-dev-model

#874 bugfix: update br_me_cnpj dicionario
  models/br_me_cnpj/br_me_cnpj__dicionario.sql
Labels: table-approve

#870 [BugFix] br_inpe_prodes
  models/br_inpe_prodes/br_inpe_prodes__municipio_bioma.sql
  models/br_inpe_prodes/code/clean_data.py
  models/br_inpe_prodes/code/download_data.py
Labels: table-approve, test-dev-model

#892 [BugFix] br_ibge_pnadc.dicionario
  models/br_ibge_pnadc/br_ibge_pnadc__dicionario.sql
  models/br_ibge_pnadc/schema.yml
Labels: table-approve, test-dev-model
